* {
    box-sizing: border-box;
  }

  header {
    display: flex;
    position: fixed;
    margin: 0 4em;
    padding: 10px;
    width: calc(100vw - 8em);
    color: #fff;
    background-color: rgba(37, 37, 37, 0.8);
    border-radius: 0 0 1em 1em;
    z-index: 2;
    opacity: 0;
    transition: transform 0.5s, opacity .5s;
    transform: translateY(-4em);
  }

  header nav {
    display: flex;
  }



  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #map {
      height: 100vh;
      widows: 100vw;
  }
